################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/desafio 04.py
/desafio 03.py
